<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Sibor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Svg" publicKeyToken="12a0bac221edeae2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sibor.Properties.Settings>
      <setting name="HomeURL" serializeAs="String">
        <value>https://duckduckgo.com</value>
      </setting>
      <setting name="NewTabURL" serializeAs="String">
        <value>https://duckduckgo.com</value>
      </setting>
      <setting name="History" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BookmarksBar" serializeAs="String">
        <value />
      </setting>
      <setting name="OtherBookmarks" serializeAs="String">
        <value />
      </setting>
    </Sibor.Properties.Settings>
  </userSettings>
</configuration>
